{% extends 'base.html' %}

{% block title %}
— Добавление инициативы
{% endblock %}

{% block content %}
<h1 class="page-title">Добавить инициативу</h1>
<div class="initiative-add-container">
  <form action="/add_initiative" method="POST">
    <label for="title">Тема инициативы:</label>
    <input type="text" id="title" name="title" required>
    
    <label for="content">Описание:</label>
    <textarea id="content" name="content" rows="5" required></textarea>
    
    <button type="submit">Добавить</button>
  </form>
  
  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}
</div>
{% endblock %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}">{% endblock %}
