{% extends "base.html" %}

{% block title %}
— Домашняя страница
{% endblock %}

{% block content %}
<div class="home-page">
    <h1 class="home-page__title">Добро пожаловать на наш сайт</h1>
    {% if session.get('login') %}
        <p class="home-page__text">Привет, <span>{{ session['login'] }}</span>!</p>
        <p><a class="home-page__link" href="{{ url_for('logout') }}">Выйти</a></p>
    {% else %}
        <p class="home-page__text">Добро пожаловать, Незнакомец!</p>
        <p>
            <a class="home-page__link" href="{{ url_for('register') }}">Зарегистрироваться</a> или 
            <a class="home-page__link" href="{{ url_for('login') }}">Войти</a>
        </p>
    {% endif %}
    <button class="home-page__button" onclick="location.href='{{ url_for('start') }}'">
        Перейти к инициативам
    </button>
</div>
{% endblock %}
