{% extends "base.html" %}

{% block title %}
— Мой профиль
{% endblock %}

{% block content %}
<div class="profile-page">
    <h2>Привет, {{ session['login'] }}!</h2>
    <p>Ваш ID: {{ session['user_id'] }}</p>
    <hr>
    <div class="profile-page__initiatives">
      <h3>Ваши инициативы</h3>
      {% if initiatives %}
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Название</th>
              <th>Кол-во голосов</th>
              <th>Удалить?</th>
            </tr>
          </thead>
          <tbody>
            {% for initiative in initiatives %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ initiative['title'] if initiative['title'] else initiative[1] }}</td>
                <td>{{ initiative['votes'] if initiative['votes'] else initiative[2] }}</td>
                <td>
                  <form method="POST" action="{{ url_for('delete_initiative', initiative_id=initiative['id'] if initiative['id'] else initiative[0]) }}">
                    <button type="submit">Удалить</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="no-initiatives">У вас пока нет инициатив.</p>
      {% endif %}
    </div>
    <hr>
    <h3>Удаление учетной записи</h3>
    <p>Если вы удалите учетную запись, восстановить её будет невозможно.</p>
    <form action="{{ url_for('delete_account') }}" method="POST">
      <button type="submit" class="delete-btn">Удалить учетную запись</button>
    </form>
</div> 
{% endblock %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">{% endblock %}
